/* Global Styles (reset, fonts, base styles*/
@import "tailwindcss";

:root {
  --background: #F6F5F3;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  color: var(--foreground);
}

/* Define fonts */ 
.font-diplomata {
  font-family: 'Diplomata SC', serif;
}

.font-spectral {
  font-family: 'Spectral SC', serif;
}

.font-sourceSerif {
  font-family: 'Source Serif 4', serif;
}

.font-oswald {
  font-family: 'Oswald', serif;
}

/* Animate Nav Buttons*/
.bubbly-button::before,
.bubbly-button::after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1;
  transition: all ease-in-out 0.3s;
  background-repeat: no-repeat;
}