/* Global Styles (reset, fonts, base styles*/
@import "tailwindcss";

:root {
  --coffee-darker: #3F2713;
  --coffee-dark: #4B3B2A;
  --coffee-medium: #7B5E3B;
  --coffee-light: #D9C4A7;
  --cream: #F5F1E9;
  --accent-green: #A3B18A;
  --accent-terra: #D9886A;
  --accent-mocha: #8d4a32;
}

  
body {
  background-color: var(--cream);
}

/* Define fonts */ 
.font-diplomata {
  font-family: 'Diplomata SC', serif;
}

.font-spectral {
  font-family: 'Spectral SC', serif;
}

.font-sourceSerif {
  font-family: 'Source Serif 4', serif;
}

.font-oswald {
  font-family: 'Oswald', serif;
}

.font-allura {
  font-family: 'Allura', serif;
}

/* Animate Nav Buttons*/
.bubbly-button::before,
.bubbly-button::after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1;
  transition: all ease-in-out 0.3s;
  background-repeat: no-repeat;
}

